{% extends "base.html" %}
{% block content %}

<head>
<style>
body{
	background:#63646d 
}

</style>
</head>
<body>
	<p style="text-align: center;font-family: Courier ;font-size: 40px;color:white"> Lista usuario </p> <br><br>

	
<!--<h1 >{{nombre}}</h1>-->

<div class="container-fluid">
	
	<table class="table table-bordered table-condensed" >
		<tbody>
		{% for linea in  model %}
			<tr class="active">
				{% for item in  linea %}

				<td >{{item}}</td>
				{% endfor %}
			
		</tr>
		{% endfor %}
		</tbody>	
	</table>
</div>

 {% block footer %}
        <br>
      <p style="text-align: center;background-color:#63646d;font-family: Courier;color:rgb(185,185,185) ">F A R M A @ </p>
        <br>
        <br>
  {% endblock %}


{% endblock %}
