{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}


{% block content %}



<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Ingresar</h1>
			</div>
 			
	{{ form.csrf_token }}</br>
    {{ form.usuario.label }} {{ form.usuario(size=20) }}</br>
    {{ form.password.label }} {{ form.password(size=20) }}</br></br>
    {{ form.submit }}
    {% with messages=get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<label class="alert alert-warning">{{message}}</label>

		{% endfor %}
	{% endif %}
{% endwith %}
			
		</div>
	</div>
</form>


  {% block footer %}
        <br>
      <p style="text-align: center;background-color:#323538;font-family: Courier;color:rgb(185,185,185) ">F A R M A @ </p>
        <br>
        <br>
      {% endblock %}

{% endblock %}

